spring:
  application:
    name: ongard-chat

  jackson:
    default-property-inclusion: non_null

  datasource:
    url: jdbc:postgresql://localhost:5432/db-game
    username: ms_usr
    password: ms_usr_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8081

logging:
  level:
    com.ongard: DEBUG
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO
